{% extends "layout.html" %}

{% block content %}
<d<!DOCTYPE html>
  <html lang="en">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

      <title>Sandy Alexander Incorporated</title>
  </head>
  <body>
  <div class="text-center">
       <div class="col-12">
  <h1>Sandy Alexander Incorporated</h1>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  </head>
  <body>

  <div class="lead">Sandy Alexander has paved the way for new printing technologies for over 25 years
      and today has received numerous awards for its outstanding services and innovations in the printing industry.
    The company thrives in maintaining quality all across our services rendered, focusing on delivering the industry
  standard products to all esteemed clients</div>
  <br>
  <section class="jumbotron">
    <div class="container">
      <div class="row text-center">
        <img src="images/header.jpg" class="img-fluid" alt="Responsive image">
      </div>
    </section>
<br>heroku
  <div class="container">

    <p><em>Board Members Include:</em></p>
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Title</th>
        <th>Email</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Mike</td>
        <td>Graff</td>
        <td>Chairman</td>
        <td>Mike@sandy.com</td>
      </tr>
      <tr>
        <td>Karen</td>
        <td>Napodano</td>
          <td>Chief Financial Officer</td>
        <td>Karen@sandy.com</td>
      </tr>
      <tr>
        <td>Tim</td>
        <td>Fisher</td>
          <td>Chief Marketing Officer</td>
        <td>Tim@sandy.com</td>
      </tr>
      <tr>
          <td>Gene</td>
          <td>Palecco</td>
          <td>Chief Technology Officer</td>
          <td>Gene@sandy.com</td>
      </tr>
      <tr>
        <td>Jeff</td>
        <td>Barber</td>
        <td>Chief Operating Officer</td>
        <td>Jeff@sandy.com</td>
      </tr>
      </tbody>
    </table>
  </div>
  <hr class="my-4">
  <br>
  <div class="container text-left">
    <h2><u>
        <small class="text-muted">Our Team</small>
      </u></h2>
    <p> We have the best personnel who are constantly working to make sure there is no gap between the clients and
    the services being rendered. They ensure the client is involved in every detail from the color selection to Press OK.
    Our team is made up of:
    <ul class="list-unstyled">
        <ul>
          <li>Customer Service Representatives</li>
          <li>Production Managers</li>
          <li>Press Men</li>
          <li>Digital Team</li>
    </p>
    <div class="container">
      <div class="row">
    <img class="col-sm-6" src="images/shaking.jpg">
    <img class="col-sm-6" src="images/Teamss.jpg">
    </div>
      <br>
    <br>
    <div class="container text-left">
      <h2><u>
        <small class="text-muted">Our Vision</small>
        </u></h2>
      <p> To become a force to be reckoned with in the print industry. A renowned company know for remarkable productions
      and an excellent family oriented organisation. We want to constantly innovate new technologies to give our clients
      satisfactory results without causing unnecessary harm to the society. The company will also build the community in which it
      operates by providing opportunities and contributing as needed. </p>

  </div>
      <br>
    <hr class="my-4">
    <br>
      <div class="container-fluid padding">
          <div class="text-center padding">
              <div class="col-12"
              <h3><em>Contact Us</em></h3>
          </div>
          <div class="col-12 social padding">
            <a href="#"> <p><em>Email</em></p></a>
            <a href="#"> <p><em>Locations</em></p></a>
            <a href="#"> <p><em>Send a message</em></p></a>
          </div>

  </body
  </html>

{% endblock %}
