{% extends "layout.html" %}

{% block content %}
<d<!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

      <title>Sandy Alexander Incorporated</title>
  </head>
  <body>
  <div class="text-center">
       <div class="col-12">
  <h1>Sandy Alexander Incorporated</h1>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  </head>
  <body>

  <div class="lead">Sandy Alexander has paved the way for new printing technologies for over 25 years
      and today has received numerous awards for its outstanding services and innovations in the printing industry.
    The company thrives in maintaining quality all across our </div>

  <div class="container">

    <p>Board Members Include:</p>
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Title</th>
        <th>Email</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Mike</td>
        <td>Graff</td>
        <td>Chairman</td>
        <td>Mike@sandy.com</td>
      </tr>
      <tr>
        <td>Karen</td>
        <td>Napodano</td>
          <td>Chief Financial Officer</td>
        <td>Karen@sandy.com</td>
      </tr>
      <tr>
        <td>Tim</td>
        <td>Fisher</td>
          <td>Chief Marketing Officer</td>
        <td>Tim@sandy.com</td>
      </tr>
      <tr>
          <td>Gene</td>
          <td>Palecco</td>
          <td>Chief Technology Officer</td>
          <td>Gene@sandy.com</td>
      </tr>
      </tbody>
    </table>
  </div>

  </body>
  </html>

{% endblock %}
